* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 35px;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.expression {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 180px;
}

#cnvs {
  width: 800px;
  position: absolute; 
  bottom: 70px;
  left: 37px;
}

.number-input {
  position: absolute;
  width: 40px;
  text-align: center;
  font-size: 20px; }

.axis {
  position: relative;
}

.equally-input {
  padding: 0;
  width: 70px;
  font-size: 35px; 
}

.input-error {
    color: red; }

.span-error {
  background: yellow;
}

.number-input:disabled {
  border: none;
  background: transparent;
}

.equally-input:disabled {
  border: none;
  background: transparent;
}